<ng-container *ngIf="view">
  <div *ngFor="let lineKey of lineKeys; index as line;">
    <app-bends [view]="view" [from]="lineKeyAsIndex(lineKey)" [to]="lineKeyAsIndex(lineKey)+lines.hash[lineKey].length"></app-bends>
    <div *ngFor="let string of view.tuning; index as n;" class="string-container">
      <div class="string">
        <app-string [view]="view" [number]="n" [from]="lineKeyAsIndex(lineKey)" [to]="lineKeyAsIndex(lineKey)+lines.hash[lineKey].length"></app-string>

      </div>
    </div>
  </div>
</ng-container>