.string {
    cursor:text;
    display:inline-flex;
    position: relative;
    &.label {
        left:3px;
    }
    &.active {
        //background: green;
        // border-top: 1px dashed orangered;
        // border-bottom: 1px dashed orangered;
        .left,.right, .blank {
            //background: red;
            border-bottom: 2px solid CadetBlue;
            //left:-1px;
        }
    }
    &.hot {
        //background: green;
        // border-top: 1px dashed orangered;
        // border-bottom: 1px dashed orangered;
        .left,.right, .blank {
            //background: red;
            border-bottom: 2px solid Chocolate;
            //left:-1px;
        }
    }
    // border-top: 1px dashed rgba(255,255,255,0);
    // border-bottom: 1px dashed rgba(255,255,255,0);
    .left,.right, .blank {
        //background: red;
        border-bottom: 1px solid black;
        display: inline-block;
        position: relative;
        flex-grow: 1;
    }
    .measure-break {
        position: absolute;
        border-left: 1px solid black;
        width:0px;
    }
    .line-start {
        position: absolute;
        border-left: 1px solid black;
    }
    .note {
        display:inline-block;
        text-align: center;
        span {
            span {
                margin:auto;
                font-size:10pt;
            }
        }
        .active {
            position: absolute;
            border: 2px solid CadetBlue;
        }
        .hot {
            position: absolute;
            border: 2px solid Chocolate;
        }
    }
    
}
:host {
    height: auto;
}
.tab {
    display:flex;
    position: absolute;
    top:0px;
    left:0px;
    .text {
        margin: auto;
        text-align: center;
        div {
            font-weight: bold;
            font-size: 12pt;
        }
    }
}
.technique-left {
    position: absolute;
    top:0px;
    left:0px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-top-left-radius:18px;
}
.technique-right {
    position: absolute;
    top:0px;
    left:0px;
    border-top:1px solid black;
    border-right:1px solid black;
    border-top-right-radius:18px;
}
.technique {
    position: absolute;
    left:0px;
    border-top:1px solid black;
}