.debug {
    //border: 1px solid blue;
    background: white;
    &.tablature-container {
    }
    &.debug-container {
        margin:0;
        position: absolute;
        top:0px;
        right:0px;
        background-color: rgba(0, 0, 255, .7);
        color:white;
    }
}

.tablature-container {
    position: relative;
    .centered {

        margin-left:auto;
        margin-right:auto;
    }
}
fieldset {
    display:flex;
    border:none;
    width:100%;
}
    input {

        font-size:18pt;
        border: none;
        display: block;
        width:90%;
    }